* {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.625;
  color: rgb(0, 0, 0);
  font-family: "Avenir LT Std", sans-serif;

  margin: 0;
  padding: 0;
}
body {
  margin: 0;
}
h1 h2 h3 h4 h5 {
  font-family: "Raleway", sans-serif;
}
h1 {
  font-size: 54px;
}
h2 {
  font-size: 30px;
}

.content {
  display: none;
}

.content.active {
  display: block;
}

.page-header {
  background-color: white;
  padding: 1.3rem;
  display: flex;
  justify-content: space-between;
}
.logo {
  color: white;
  align-self: center;
  margin-left: 1.2rem;
  font-size: 2.5rem;
}

.nav-bar {
  margin: auto;
}

.nav-bar a {
  color: black;
  padding: 1.5rem;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.2rem;
}
.nav-bar a:hover {
  color: #ff4040;
}

.menu-icon {
  color: white;
  cursor: pointer;
  display: none;
}

.b1 {
  background-color: hsl(0, 100%, 92%);
  border-radius: 25px;
  font-size: 1.3rem;
  padding: 10px 20px;
  border: none;
  color: #ff4040;
}
.b2 {
  background-color: #fff;
  border-radius: 25px;
  font-size: 1.3rem;
  padding: 10px 20px;
  color: rgb(255, 255, 255);
  background-color: black;
  border: none;
}
.b1:hover,
.b2:hover {
  background-color: #ff4040;
  color: #fff;
}

@media screen and (max-width: 700px) {
  .nav-bar {
    display: none;
    position: absolute;
    top: 3.7rem;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    text-align: center;
  }

  .nav-bar.responsive {
    display: block;
  }

  .nav-bar a {
    display: block;
  }

  .menu-icon {
    display: block;
    z-index: 1;
  }

  .logo {
    font-size: 1.4rem;
  }
}

/* Contact and email buttons */
/* .contact-btn,
.email-btn {
  background-color: #ff4040;
  color: #ff4040;
  border-radius: 10px;
  text-decoration: none;
  font-size: 1em;
  padding: 0.5em 1em;
  margin-right: 5px;
  transition: color 0.4s ease 0s;
}

.email-btn {
  background-color: #fff;
  color: #000;
  border: 1px solid rgb(85, 85, 85);
}
.contact-btn:hover {
  text-decoration: none;
  color: #000;
  background-color: #fff;
  border: 1px solid black;
}
.email-btn:hover {
  text-decoration: none;
  color: #000;
  border: 1px solid black;
} */

/* max-width */


/* Responsive styles */

.right-section {
  flex: 1 0 108px;
  height: 415px;
  box-sizing: border-box;
  margin-right: 10px;
}

.right-section img {
  width: 100%;
  object-fit: cover;
}

.left-section {
  flex: 1 0 149px;
  margin: 5px;
  box-sizing: border-box;
}
.left-section h2 {
  font-size: 1.75em;
  margin-bottom: 10px;
}

.right-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.left-section button {
  background-color: #ff4040;
  color: #fff;
  padding: 10px 20px;
  margin-right: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 25px;
  border: none;
}


.carousel-item img {
  width: 100%;
  height: auto;
}

.middle-black-bar {
  background-color: black;
  color: white;
  height: 100px;
  max-width: 100%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px; /* add padding */
  word-wrap: break-word;
  margin-bottom: 3rem;
  z-index: 1000;
}

@media (max-width: 600px) {
  .middle-black-bar {
    background-size: 50%;
    padding: 0 5px;
    word-wrap: break-word;
    height: 75px;
  }
  .middle-black-bar h1 {
    font-size: 20px;
    text-align: center;
  }
  .container {
    gap: 1em;
  }
}

@media screen and (max-width: 400px) {
  .container {
    margin-top: 10px;
    display: block;
    gap: 1px;
  }

  .right-section {
    margin-top: 5px;
    margin-left: 3px;
  }
  
}

.carousel-item {
  height: 400px;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
}

.carousel-caption h3 {
  color: #fff;
}

.carousel-caption p {
  color: #fff;
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .carousel-item {
    height: 200px;
  }
}

/*Image gallery*/
.image-gallery {
  margin-top: 30px;
  margin-right: 20px;
  width: 100%;
  max-width: 800px;
  max-height: 500px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-gallery::-webkit-scrollbar {
  height: 10px;
}

.image-gallery::-webkit-scrollbar-thumb {
  background-color: #ff5a5f;
  border-radius: 10px;
}

.image-gallery-inner {
  display: inline-flex;
  flex-wrap: nowrap;
  padding: 10px;
}

.image-gallery img {
  max-width: 100%;
  height: auto;
  margin-right: 10px;
}

/*Table*/
.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 4em;
  padding: 1em;
}

.form-container {
  width: 50%;
  padding: 2em;
}

.form-container h2 {
  margin-top: 0;
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container label {
  margin-bottom: 0.5em;
}

.form-container input,
.form-container textarea {
  padding: 0.5em;
  margin-bottom: 1em;
  border-radius: 0.3em;
  border: 1px solid black;
}

.form-container button[type="submit"] {
  background-color: #ff4040;
  color: white;
  padding: 0.5em;
  border: none;
  border-radius: 0.3em;
  cursor: pointer;
}

.map-container {
  width: 50%;
  height: 300px;
}

@media (max-width: 600px) {
  .contact-container {
    flex-direction: column;
    margin-top: 2em;
  }

  .form-container {
    width: 100%;
    padding: 1em;
  }

  .map-container {
    width: 100%;
    height: 200px;
  }
}
/*TandC*/
@media (max-width: 400px) {
  .text-container {
    padding: 0em;
  }
}
.text-container {
  padding: 2em;
}

.container-table {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

table {
  border-collapse: collapse;
  width: 80%;
  margin: 0 auto;
}

td {
  text-align: center;
  border: 3px solid black;
  padding: 20px;
}

.container-text {
  margin: 20px;
  padding: 50px 50px 50px 50px;
}

@media (max-width: 600px) {
  .container-table {
    justify-content: space-around;
    margin-left: 10px;
  }
}

/* Bike-rental */
.container-bike-rental {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  padding: 20px;
}
.container-bike-rental button {
  background-color: #ff4040;
  color: #fff;
  padding: 10px 20px;
  margin-right: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}

.section-br {
  margin: 20px 0;
  text-align: center;
}

.image-bikes h4 {
  display: flex;
}

.image-section2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1.2em 0;
}

.img-block {
  width: calc(20%-0.8em);
  margin-bottom: 1.2em;
  text-align: center;
}

.img-block img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.img-block h3 {
  margin: 10px 0;
  font-size: 20px;
  font-weight: bold;
}

.img-block p {
  margin: 0;
  font-size: 14px;
}

/* 
.row {
  display: flex;
  overflow: hidden;
}
.imagegroup {
  display: flex;
  width: 100%;
}
.imagegroup img {
  flex-shrink: 0;
  object-fit: cover;
  border: 3px solid white;
}
.imagegroup {
  animation: travel 20s ease-in-out infinite;
}
@keyframes travel {
  0%,
  100% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(-100%, 0, 0);
  }
} */

.whatsapp-icon {
  position: fixed;
  bottom: 2.2em;
  right: 2em;
  z-index: 9999;
}

.whatsapp-icon img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}
@media (max-width: 400px) {
  .whatsapp-icon img {
    width: 50px;
    height: 50px;
  }
}

/* CHANGES */

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container1{
  height: 82vh;
  overflow: hidden;
}

.container2{
  gap: 20rem;
}

.left-section p {
  line-height: normal;
  color: rgb(128, 128, 128);
}
.left-text{
  font-size: 15px !important;
  margin-bottom: 2rem;
}

.left-section > h1 {
  font-size: 50px;
  font-weight: bold;
  margin-top: -12rem;
}

.left-section > h1 > span{
  color: #ff4040;
  text-decoration: underline;
  font-weight: bold;
  font-size: 50px;
}

.right-section1 {
  flex: 1 0 350px;
  box-sizing: border-box;
  margin-right: 10px;
  z-index: -1;
}

.right-section img {
  width: 100%;
  object-fit: cover;
}

/* .right-section img {
  border: 1px solid #fff0f0;
} */

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  object-fit: cover;
  gap: 0.88rem;
}

.image-grid img {
  width: 100%;
  height: 363px;
}

.space{
  margin-bottom: 2rem;
  
}

#tandc{
  margin-left: 5rem;
  margin-right: 12rem;
}
.text-container > h2{
  font-size: 2rem;
  font-weight: bold;
}

.para-light{
  font-size: 15px;
  color: #898989;
  font-weight: 100;
}

#tours{
  margin: 4rem;
}

@media (min-width: 1200px){
  .container {
      max-width: 1374px;
  }
}

@media (max-width : 1200px){
   .container2{
    gap: 1rem;
  }
} 

@media (max-width: 971px) {
  .left-section > h1, .left-section > h1 > span {
    font-size: 30px;
    margin-top: 0;
  }
  #tandc{
    margin: 0 3rem;
  }
  .container2{
    gap: 8rem;
  }
  .right-section {
    flex: 1 0 240px;
  }
}

@media (max-width : 389px) {
  .middle-black-bar > h2{
    font-size: 20px;
  }
  #tandc{
    margin: 0 1.5rem;
  }
  .right-section {
    flex: 1 0 120px;
  }
  .about-us{
    margin-top: -12rem;
  }
}