* {
  box-sizing: border-box;
  line-height: 1.725;
  font-size: 16px;
  color: #150f0f;
  font-weight: 100;
  font-family: "Avenir LT Pro 200", sans-serif;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
}
h1 h2 h3 h4 h5 {
  font-family: Raleway, sans-serif;
}
h1 {
  font-size: 54px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 30px;
}

.content {
  display: none;
}

.content.active {
  display: block;
}

.page-header {
  background-color: white;
  padding: 1rem;
  display: flex;
  justify-content: center;
  width: 100%;
}
.logo img {
  color: white;
  align-self: center;
  margin-left: 4rem;
}

.nav-bar {
  margin: auto;
}

.nav-bar a {
  color: rgb(41, 39, 39);
  padding: 1.5rem;
  cursor: pointer;
  text-decoration: none;
  font-size: 0.85rem;
  
}
.nav-bar a:hover {
  color: #ff4040;
}

.menu-icon {
  color: white;
  cursor: pointer;
  display: none;
}

.b1 {
  background-color: hsl(0, 92%, 90%);
  border-radius: 25px;
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  color: #f90404;
}
.b2 {
  background-color: #fff;
  border-radius: 25px;
  font-size: 1rem;
  padding: 10px 2.5rem;
  color: rgb(255, 255, 255);
  background-color: black;
  border: none;
}
.b1:hover,
.b2:hover {
  background-color: #000000;
  color: #fff;
}
.b3 {
  background-color: white;
  color: #000;
  border: 1px solid black;
  font-size: 1rem;
  padding: 10px 2.5rem;
  margin-right: 10px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 3rem;
  height: 3.5rem;
}
.b3:hover {
  background-color: #000;
  color: #fff;
}
.b4 {
  background-color: #ff4040;
  color: #ffffff;
  font-size: 1rem;
  padding: 10px 2.5rem;
  margin-right: 10px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 3rem;
  height: 3.5rem;
  border: none;
}
.b4:hover {
  background-color: #000;
  color: #fff;
}

@media screen and (max-width: 700px) {
  .nav-bar {
    display: none;
    position: absolute;
    top: 3.7rem;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    text-align: center;
  }

  .nav-bar.responsive {
    display: block;
  }

  .nav-bar a {
    display: block;
  }

  .menu-icon {
    display: block;
    z-index: 1;
  }

  .logo {
    font-size: 1.4rem;
  }
  .b1{
    display: none;
  }
  .b2{
    display: none;
  }
}

/* Contact and email buttons */
/* .contact-btn,
.email-btn {
  background-color: #ff4040;
  color: #ff4040;
  border-radius: 10px;
  text-decoration: none;
  font-size: 1em;
  padding: 0.5em 1em;
  margin-right: 5px;
  transition: color 0.4s ease 0s;
}
.email-btn {
  background-color: #fff;
  color: #000;
  border: 1px solid rgb(85, 85, 85);
}
.contact-btn:hover {
  text-decoration: none;
  color: #000;
  background-color: #fff;
  border: 1px solid black;
}
.email-btn:hover {
  text-decoration: none;
  color: #000;
  border: 1px solid black;
} */

/* max-width */

/* Responsive styles */

.right-section {
  flex: 1 0 108px;
  height: 415px;
  box-sizing: border-box;
  margin-right: 10px;
}

.right-section img {
  width: 100%;
  object-fit: cover;
}

.left-section {
  flex: 1 0 149px;
  margin: 5px;
  box-sizing: border-box;
}
.left-section > h2 {
  font-size: 1.75em;
  font-weight: 300;
  margin-bottom: 10px;
  font-family: "Raleway", sans-serif;
}
.left-section > h1{
  font-family: "Raleway", sans-serif;
}

.right-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.left-section button {
  background-color: #ff4040;
  color: #fff;
  padding: 10px 20px;
  margin-right: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 25px;
  border: none;
}

.middle-black-bar {
  background-color: black;
  color: white;
  height: 100px;
  max-width: 100%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px; /* add padding */
  word-wrap: break-word;
  margin-bottom: 3rem;
  z-index: 1000;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
}

@media (max-width: 600px) {
  .middle-black-bar {
    background-size: 50%;
    padding: 0 5px;
    word-wrap: break-word;
    height: 75px;
  }
  .middle-black-bar h1 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
  }
  .container1 {
    height: 109vh !important;
  }
  .container1 > .right-section1 {
    flex: 1 0 450px !important;
  }
}

@media screen and (max-width: 400px) {
  .container {
    margin-top: 10px;
    display: block;
    gap: 1px;
  }

  .right-section {
    margin-top: 5px;
    margin-left: 3px;
  }
}

.carousel-item {
  height: 400px;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
}

.carousel-caption h3 {
  color: #fff;
}

.carousel-caption p {
  color: #fff;
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .carousel-item {
    height: 400px;
  }
  .middle-black-bar h2 {
    font-size: 2rem;
    text-align: center;
  }
}

/*Image gallery*/
.image-gallery {
  margin-top: 30px;
  margin-right: 20px;
  width: 100%;
  max-width: 800px;
  max-height: 500px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-gallery::-webkit-scrollbar {
  height: 10px;
}

.image-gallery::-webkit-scrollbar-thumb {
  background-color: #ff5a5f;
  border-radius: 10px;
}

.image-gallery-inner {
  display: inline-flex;
  flex-wrap: nowrap;
  padding: 10px;
}

.image-gallery img {
  max-width: 100%;
  height: auto;
  margin-right: 10px;
}

/*Table*/
.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 4em;
  padding: 1em;
}

.form-container {
  width: 50%;
  padding: 2em;
}

.form-container h2 {
  margin-top: 0;
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container label {
  margin-bottom: 0.5em;
}

.form-container input,
.form-container textarea {
  padding: 0.5em;
  margin-bottom: 1em;
  border-radius: 0.3em;
  border: 1px solid black;
}

.form-container button[type="submit"] {
  background-color: #ff4040;
  color: white;
  padding: 0.5em;
  border: none;
  border-radius: 0.3em;
  cursor: pointer;
}

.map-container {
  width: 50%;
  height: 300px;
}

@media (max-width: 600px) {
  .contact-container {
    flex-direction: column;
    margin-top: 2em;
  }

  .form-container {
    width: 100%;
    padding: 1em;
  }

  .map-container {
    width: 100%;
    height: 200px;
  }
}
/*TandC*/

@media (max-width: 400px) {
  .text-container {
    padding: 0em;
  }
  .middle-black-bar h2 {
    font-size: 1rem;
  }
}

.container-table {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

table {
  border-collapse: collapse;
  width: 80%;
  margin: 0 auto;
}

td {
  text-align: center;
  border: 3px solid black;
  padding: 20px;
}

.container-text {
  margin: 20px;
  padding: 50px 50px 50px 50px;
}

@media (max-width: 600px) {
  .container-table {
    justify-content: space-around;
    margin-left: 10px;
  }
}

/* Bike-rental */
.container-bike-rental {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  padding: 20px;
}

.section-br {
  margin: 20px 0;
  text-align: center;
}

.section-br > h1 {
  font-size: 50px;
  font-weight: bold;
}
.section-brr > h2 {
  font-size: 35px;
  font-weight: bold;
}

.section-brr {
  padding: 2rem;
}

.image-bikes h4 {
  display: flex;
}

.image-section2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1.2em 0;
}

.img-block {
  width: calc(20%-0.8em);
  margin-bottom: 1.2em;
  text-align: center;
}

.img-block img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.img-block h3 {
  margin: 10px 0;
  font-size: 20px;
  font-weight: bold;
}

.img-block p {
  margin: 0;
  font-size: 14px;
}

.whatsapp-icon {
  position: fixed;
  bottom: 3em;
  right: 2em;
  z-index: 9999;
}

.whatsapp-icon img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}
@media (max-width: 400px) {
  .whatsapp-icon img {
    width: 50px;
    height: 50px;
  }
}

/* CHANGES */

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container1 {
  height: 82vh;
  overflow: hidden;
  width: 85%;
        margin: 4rem auto 0;
}

.container2 {
  gap: 2rem;
}

.left-section p {
  line-height: 1.725;
  color: rgb(128, 128, 128);
}
.left-text {
  font-size: 15px !important;
  margin-bottom: 2rem;
}

.left-section > h1 {
  font-size: 50px;
  font-weight: 1000;
  margin-top: -12rem;
}

.left-section > h1 > span {
  color: #ff4040;
  text-decoration: underline;
  font-weight: bold;
  font-size: 50px;
}

.right-section1 {
  flex: 1 0 350px;
  box-sizing: border-box;

  z-index: -1;
}

.right-section img {
  width: 100%;
  object-fit: cover;
}

/* .right-section img {
  border: 1px solid #fff0f0;
} */

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  object-fit: cover;
  gap: 0.88rem;
}

.image-grid img {
  width: 100%;
  height: 19.5rem;
}

/* @media screen and (max-width: 400px){
.right-section1 .image-grid{
  width: 100%;
  height: 1.5rem;
}
} */
.space {
  margin-bottom: 3rem;
}

#tandc {
  width: 85%;
  margin: 4rem auto 0;
}
.text-container > h2 {
  font-size: 2rem;
  font-weight: bold;
}

#bike-rental{
  width: 85%;
        margin: 4rem auto 0;
}
#contact{
  width: 85%;
        margin: 4rem auto 0;
}

#tours{
  width: 85%;
        margin: 4rem auto 0;
}
.para-light {
  font-family: 'Avenir LT Pro 200', sans-serif;                                       
  font-size: 16px;
  color: #191818;
  font-weight: 100;
}

/* #tours{
  margin: 4rem;
} */

@media (min-width: 1200px) {
  .container {
    max-width: 1374px;
  }
}

@media (max-width: 1200px) {
  .container2 {
    gap: 1rem;
  }
  #page4 {
    height: 600px;
  }
}

@media (max-width: 1100px) {
  #boot {
    height: 600px;
  }
}

@media (max-width: 971px) {
  .left-section > h1,
  .left-section > h1 > span {
    font-size: 30px;
    margin-top: 0;
  }
  #tandc {
    margin: 0 3rem;
  }
  .container2 {
    gap: 8rem;
  }
  .right-section {
    flex: 1 0 240px;
  }
  #boot {
    height: 540px;
  }
}

@media (max-width: 790px) {
  #boot {
    height: 420px;
  }
  #page4 {
    height: 400px;
  }
}

@media (max-width: 539px) {
  #boot {
    height: 250px;
  }
}

@media (max-width: 389px) {
  /* .middle-black-bar > h2 {
    font-size: 20px;
  } */
  #tandc {
    margin: 0 1.5rem;
  }
  .right-section {
    flex: 1 0 120px;
  }
  .about-us {
    margin-top: -12rem;
  }
}

/* Tours boxes */
.box-container {
  display: flex;
  gap: 1.5rem;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 0.5rem;
  width: 100%;
}
.box {
  background-color: black;
  box-sizing: border-box;
  
}
.box p {
  color: #ffffff;
  padding: 5px;
}
.box h3 {
  padding: 5px;
}
.box-container1 {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin: 0 auto;
  padding: 0.5rem;
}
.box {
  background-color: black;
}
.box p {
  color: #ffffff;
  padding: 5px;
}
.box h3 {
  padding: 5px;
}

@media (max-width: 300px) {
  .box-container1 {
    display: flex;
    flex-wrap: wrap;
  }
}
.tours-bottom {
  width: 100%;
  height: 50vh;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  color: #fff;
  padding-top: 2rem;
  justify-content: space-around;
}
.excludes{
  margin-right: 20rem;
}
.excludes{
  margin-left: -2rem;
}
.tours-bottom ul {
  color: white;
}
.tours-bottom ul li {
  color: #ffffff;
}
.line {
  border-left: 1px solid #fff;
}

.tours-last {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.or {
  color: white;
  background-color: #ff4040;
  width: 50%;
  margin: 0 auto;
  padding: 5rem;
}
.or a {
  color: black;
}

.im {
  width: 50%;
}
.im img {
  height: 100%;
  object-fit: fill;
  width: 100%;
}
@media screen and (max-width: 450px){
  .tours-bottom{
    display: block;
    height: 100vh;
  }
  .includes{
    margin-left: 0;
    padding: 2rem;
  }
  .excludes{
    margin-right: 0;
    padding: 4rem;
  }
  .tours-last{
    display: block;
  }
  .or{
    width: 100%;
    margin: 0 auto;
  }
  .im{
    width: 100%;
  }
}

/* footer */
.fa {
  padding: 20px;
  text-align: center;
  margin: 5px 2px;
  font-size: 25px;
  width: 50px;
}
.fa-facebook {
  color: rgb(0, 0, 0);
}
.fa-twitter {
  color: rgb(0, 0, 0);
}

.fa-linkedin {
  color: rgb(0, 0, 0);
}
.fa-instagram {
  color: rgb(0, 0, 0);
}
.fa-youtube {
  color: rgb(0, 0, 0);
}

iframe {
  border: none;
  outline: none;
  box-shadow: none;
}

.box-container > .box > a > h3 {
  color: white;
}
