* {
  box-sizing: border-box;
  line-height: 1.725;
  font-size: 16px;
  color: #121111;
  font-weight: 100;
  font-family: "Avenir LT Std", sans-serif;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
}
h1 h2 h3 h4 h5 {
  font-family: "Raleway", sans-serif;
}
h1 {
  font-size: 54px;
}
h2 {
  font-size: 30px;
}
p {
  font-size: 15px;
  color: #121111;
  font-weight: 100;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body * {
  box-sizing: border-box;
}
body > h2 {
  padding-left: 10rem;
  border-bottom: 1px solid rgb(91, 91, 91);
  border-top: 1px solid rgb(91, 91, 91);
  padding-block: 24px;
}

/* .timeline {
  width: 100vw;
  box-sizing: border-box;
  max-width: 80rem;
  background: #fff;
  padding: 100px 50px;
  position: relative;
}

.timeline:before {
  content: "";
  position: absolute;
  top: 0px;
  left: calc(33% + 15px);
  bottom: 0px;
  width: 1px;
  background: rgb(114, 114, 114);
}

.timeline:after {
  content: "";
  display: table;
  clear: both;
}

.entry {
  clear: both;
  text-align: left;
  position: relative;
}

.entry .title {
  margin-bottom: 0.5em;
  float: left;
  width: 33%;
  padding-right: 30px;
  text-align: right;
  position: relative;
}
.entry .title1 {
  display: none;
}

.entry .title:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border: 1px solid black;
  background-color: black;
  border-radius: 100%;
  top: 15%;
  right: -3px;
  z-index: 99;
}

.entry .title h3 {
  margin: 0;
  font-weight: 200;
  font-size: 1rem !important;
  font-size: 120%;
}

.entry .title p {
  margin: 0;
  line-height: 1.725;
  font-size: 16px;
  color: #1a1a1a;
  font-weight: 100;
}

.entry .body {
  margin: 0 0 3em;
  float: right;
  width: 60%;
  padding-left: 30px;
}

.entry .body p:first-child {
  margin-top: 0;
  font-weight: 400;
}

.entry .body p {
  line-height: 1.4em;
  text-align: justify;
}
 */

/* new timeline code */

.timeline {
  width: 100%;
  box-sizing: border-box;
  background: #fff;
  padding: 100px 50px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .timeline {
    max-width: 80rem;
    padding: 100px 0;
    margin: 0 auto;
  }

  .timeline:before {
    left: calc(33% + 15px);
    z-index: 1;
  }
}

.timeline:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 415px;
  /* transform: translateX(-50%); */
  bottom: 0px;
  width: 1px;
  background: rgb(114, 114, 114);
  z-index: 2;
}

.timeline:after {
  content: "";
  display: table;
  clear: both;
}

.entry {
  clear: both;
  text-align: left;
  position: relative;
  padding-block-end: 1rem;
}

.entry .title {
  margin-bottom: 0.5em;
  float: none;
  width: auto;
  padding-right: 30px;
  text-align: center;
  position: relative;
}

@media screen and (min-width: 768px) {
  .entry .title {
    float: left;
    width: 33%;
    text-align: right;
    padding-right: 30px;
  }
}

.entry .title:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border: 1px solid black;
  background-color: black;
  border-radius: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.entry .title h3 {
  margin: 0;
  font-weight: 200;
  font-size: 1rem !important;
  font-size: 120%;
}

.entry .title p {
  margin: 0;
  line-height: 1.725;
  font-size: 16px;
  color: #1a1a1a;
  font-weight: 100;
}

.entry .title1 {
  display: none;
}

@media screen and (min-width: 768px) {
  .entry .title1 {
    display: block;
    margin-bottom: 0.5em;
  }
}

.entry .body {
  margin-left: 0;
}

@media screen and (min-width: 768px) {
  .entry .body {
    margin-left: calc(33% + 45px);
  }
}

@media screen and (max-width: 767px) {
  .timeline:before {
    left: 15px;
  }
  
  .entry .title:before {
    left: -35px;
    right: 0;
    transform: translate(-50%, -50%);
  }
}

@media screen and (min-width: 768px) {
  .entry .title:before {
    left: auto;
    right: -3px;
    transform: translate(-50%, -50%);
  }
  .entry .title h3{
    font-size: 2rem;
  }
}


/* ends */

.entry .body ul {
  color: #aaa;
  padding-left: 0;
  list-style-type: none;
}

.entry .body ul li:before {
  content: "–";
  margin-right: 0.5em;
}

.top-br {
  text-align: center;
  padding: 2em;
  margin: 0 auto;
}
.top-br > h1 {
  font-family: Raleway, sans-serif;
  font-weight: 1000;
  font-size: clamp(20px, 5vw, 54px);
}
.top-br > h3 {
  font-family: Raleway, sans-serif;
  font-size: clamp(20px, 5vw, 54px);
  font-weight: 1000;
}
.top-br > p {
  font-family: "Avenir LT Pro 200", sans-serif;
  color: #212121;
}

/* @media screen and (max-width: 450px) {
  .title {
    display: none;
  }
  .entry .title1 {
    display: block;
  }
} */
